* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", system-ui, sans-serif;  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, sans-serif;
}

body {
  background-color: #0e0e0e;
   background: radial-gradient(circle at top, #111b26 0%, #0b0f14 60%);
  color: #c9d1d9;
}

.navbar {
  height: 74px;
  background-color: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 15px 15px 36px;
  border-bottom: 1px solid #1f1f1f;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {

  width: 25px;
  height: 25px;
}

.brand {
    height: 20px;
    width: 166.89px;
    color: #C3D0E5;
  font-size: 19px;
  font-weight: 500;
  align-items: center;
    margin-left: 8px;
  

}

.nav-links {
  display: flex;
  gap: 16px;
    margin-left: 30px;
}

.nav-links a {
  color: #9ba3b4;
  text-decoration: none;
    font-size: 16px;
  font-weight: 600;
}

.nav-links a:hover {
  color: #ffffff;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-btn {
  background: none;
  border: none;
  color: #cfcfcf;
  font-size: 16px;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  padding: 6px 10px;
  border-radius: 4px;
  gap: 8px;
}

.search-box input {
  background: none;
  border: none;
  outline: none;
  color: #cfcfcf;
  font-size: 12px;
  width: 120px;
}

.search-box input::placeholder {
  color: #9e9e9e;
}

.shortcut {
  font-size: 11px;
  color: #9e9e9e;
}

.download-btn {
  background-color: #0078d4;
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #026ec1;
}
h1 {
    color: #c3d0e5;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
}
p {
    color: #9ba3b4;
    text-align: center;
    font-size: 21px;
     margin-bottom: 20px;
    font-weight: 460;
}
.os-card1, .os-card2, .os-card3 {
    display:inline-block;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
.os-card1 {
    background-color: #0d1117;
    border-radius: 8px;
    padding: 25px;
    margin: 40px;
    width: 215px;
    height: 348px;
   
}
.os-card2 {
    background-color: #0d1117;
    border-radius: 8px;
    padding: 25px;
    margin: 40px;
    width: 359px;
    height: 448px;
   
}
.os-card3 {
    background-color: #0d1117;
    border-radius: 8px;
    padding: 25px;
    margin: 40px;
    width: 215px;
    height: 348px;
    
}
.os-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
}